<div class="container">
  <ngb-accordion [closeOthers]="true">
    <ngb-panel *ngFor="let category of categories">
      <ng-template ngbPanelTitle>
        <div class="row">
          <div class="col-sm-8">
            <span *ngIf="!category.displayEdit">{{ category.name }}</span>
            <input type="text" *ngIf="category.displayEdit" [(ngModel)]="category.name" (keyup.enter)="edit(category, $event)" (click)="stopPropagation($event)"
              placeholder="{{ category.name }}" autofocus>
          </div>
          <div class="col-sm-2">
            <a href="#" class="btn btn-info btn-lg" (click)="toggleEdit(category, $event)">
            <span class="glyphicon glyphicon-edit"></span> Editer
          </a>
          </div>
          <div class="col-sm-2">
            <a href="#" class="btn btn-danger btn-lg" (click)="remove(category, $event)">
              <span class="glyphicon glyphicon-remove"></span> Supprimer 
            </a>
          </div>
        </div>
      </ng-template>
      <button type="primary">Test</button>
      <ng-template ngbPanelContent>
        Produits
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<div class="container">
  <form #f="ngForm" (ngSubmit)="add(f)">
    <div class="input-group">
      <input type="text" name="name" ngModel required #name="ngModel" class="form-control" placeholder="Nouvelle catégorie">
      <div class="input-group-append">
        <input type="submit" class="btn btn-success" value="Ajouter">
      </div>
    </div>
  </form>
</div>
